* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    background-color: rgba(1, 1, 1, 0.85);
    width: 100%;
    height: 50px;
    color: white;
}

#header {
    float: left;
    font-size: 20px;
    padding: 15px 0 0 10px;
    width: 70%;
    font-family: 'Piedra', cursive;
    font-size: 24px;
    letter-spacing: 0.5mm;
}

#list-items > li {
    width: 10%;
    float: left;
    list-style-type: none;
    line-height: 3.15em;
    margin: 0 2.5%;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

#list-items > li:hover, li > a:hover {
    background-color: yellow;
}

li > a:hover {
    color: black;
}

#main-container {
    background-color: rgba(1, 1, 1, 0.9);
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#lemur-pic > img {
   width: 500px;
   height: 500px;
   float: left;
   margin-left: 2.5%;
   margin-right: 1em;
}

#aside {
    color: white;
    float: inherit;
    padding: 100px 2.5% 0 5%;
}

#aside > h2 {
    font-size: 24px;
}

#aside > p {
    margin-top: 10px;
    line-height: 1.5em;
    font-size: 14px;
}

#aside > a {
    color: white;
}

#gallery-header {
    clear: both;
    width: 20%;
    max-width: 20%;
}

#gallery-header > h3 {
    margin: 20px 10px 10px 10px;
}

#gallery-header > hr {
    margin-left: 10px;
}

.image > img{
    float: left;
    width: 250px;
    height: 250px;
    margin: 10px 2.5%;
}

#about-header {
    font-size: 24px;
    margin: 15px 0;
    text-align: center;
}

#about-lemur {
    float: left;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid black;
    overflow: hidden;
}

#break {
    clear: both;
    width: 100%;
    height: 20px;
}

#about-lemur-2{
    float: right;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid black;
    overflow: hidden;
}
